.masthead {
  height: 60vh;
  min-height: 500px;
  background-image: url('../img/NAP-cell.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tales {
  width: 100%;
}
.carousel-item{
  width:100%;
  max-height: 700px !important;
}

html {
  scroll-behavior: smooth;
}

.footer {
  margin-top: 100px; /* negative value of footer height */
  height: 150px;
  /*background-color: rgb(92,184,92);*/
  background-color: rgb(247, 247, 247) ;
} 
