{% extends "base.html" %} {% block content %}
<div class="container mt-2">
    <div class="jumbotron jumbotron-fluid pt-3 pb-3">
        <div class="container">
            <h1 class="display-4">Is there a place in NTK?</h1>
            <p class="lead">Find out how occupied NTK is right now and how occupied it was in the last days. See the guide below to learn
                how to interpret this data. Refresh the page to see current status.</p>
            <div class="row">
                <div class="col text-center">
                    <a href="." class="btn btn-success btn-lg" role="button">Refresh</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Now</h2>
        </div>
        <div class="card-body">
            <h4 style="display: inline-block;">Overall occupation: {{ occupation.get_overall_perc() }} % (
                <b>{{ occupation.get_sum_of_people() }}</b> / 1262
                <i class="fas fa-male"></i>) </h4>
            <div class="progress" style="height: 20px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: {{ occupation.get_overall_perc() }}%;"
                    aria-valuemin="0" aria-valuemax="100">{{ occupation.get_overall_perc() }} %</div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table" align='top'>
                        <thead>
                            <tr>
                                <th scope="col">Floor #</th>
                                <th scope="col">Occupation</th>
                                <th scope="col">No. of people</th>
                                <th scope="col">Occupation progress
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">6th
                                    <span class="text-muted inline-block ml-1" data-toggle="tooltip" title="Silent floor">
                                        <i class="fas fa-volume-off"></i>
                                    </span>
                                </th>
                                <td>{{ occupation.floor_6_perc }} % </td>
                                <td>
                                    <b>{{ occupation.get_number_of_people()['floor_6'] }}</b> / 323
                                    <i class="fas fa-male"></i>
                                </td>
                                <td>
                                    <div class="progress" style="height: 20px;">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: {{ occupation.floor_6_perc  }}%;"
                                            aria-valuenow='0' aria-valuemin="0" aria-valuemax="100">{{ occupation.floor_6_perc }} %</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">5th
                                    <span class="text-muted inline-block ml-1" data-toggle="tooltip" title="Non-silent floor">
                                        <i class="fas fa-volume-down"></i>
                                    </span>
                                </th>
                                <td>{{ occupation.floor_5_perc }} %</td>
                                <td>
                                    <b>{{ occupation.get_number_of_people()['floor_5'] }}</b> / 275
                                    <i class="fas fa-male"></i>
                                </td>
                                <td>
                                    <div class="progress" style="height: 20px;">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: {{ occupation.floor_5_perc }}%;"
                                            aria-valuenow='0' aria-valuemin="0" aria-valuemax="100">{{ occupation.floor_5_perc }} %</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">4th
                                    <span class="text-muted inline-block ml-1" data-toggle="tooltip" title="Non-silent floor">
                                        <i class="fas fa-volume-down"></i>
                                    </span>
                                </th>
                                <td>{{ occupation.floor_4_perc }} %</td>
                                <td>
                                    <b>{{ occupation.get_number_of_people()['floor_4'] }}</b> / 333
                                    <i class="fas fa-male"></i>
                                </td>
                                <td>
                                    <div class="progress" style="height: 20px;">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: {{ occupation.floor_4_perc }}%;"
                                            aria-valuenow='0' aria-valuemin="0" aria-valuemax="100">{{ occupation.floor_4_perc }} %</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3rd
                                    <span class="text-muted inline-block ml-1" data-toggle="tooltip" title="Silent floor">
                                        <i class="fas fa-volume-off"></i>
                                    </span>
                                </th>
                                <td>{{ occupation.floor_3_perc }} %</td>
                                <td>
                                    <b>{{ occupation.get_number_of_people()['floor_3'] }}</b> / 331
                                    <i class="fas fa-male"></i>
                                </td>
                                <td>
                                    <div class="progress" style="height: 20px;">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: {{ occupation.floor_3_perc }}%;"
                                            aria-valuenow='0' aria-valuemin="0" aria-valuemax="100">{{ occupation.floor_3_perc }} %</div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted small">
            <i>Last updated {{ moment(occupation.timestamp).fromNow() }}.</i>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    Last 4 hours
                    <button class="btn btn-success float-right" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        toggle
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="card-body">
                        {{ script_4hours|safe }} {{ div_4hours|safe }}
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    Last 24 hours
                    <button class="btn btn-success float-right" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                        aria-controls="collapseTwo">
                        toggle
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    {{ script_24hours|safe }} {{ div_24hours|safe }}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    Last week
                    <button class="btn btn-success float-right" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                        aria-controls="collapseThree">
                        toggle
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    {{ script_week|safe }} {{ div_week|safe }}
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<footer class="page-footer font-small blue">
    <div class="footer text-center py-3">
        <p class="lead">Vaclav Maixner</p>
        <a href="https://www.techlib.cz/en/"> NTK's website</a>
    </div>
</footer>
{% endblock %}