{% extends "base.html" %} {% block content %}
<div class="container mt-2">
    <!-- <div class="jumbotron">
        <h1 class="display-4">Now
        </h1>

        <p class="lead">Overall occupation: {{ occupation.overall_occ }} % (
            <b>{{ occupation.sum_of_people }}</b> / 1262
            <i class="fas fa-male"></i>) </p>
        <i>Last updated: {{ moment(occupation.timestamp).fromNow() }}.</i>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <div class="progress" style="height: 20px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: {{ occupation.overall_occ }}%;"
                aria-valuemin="0" aria-valuemax="100">{{ occupation.overall_occ }} %</div>
        </div>
    </div> -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Is there a place in NTK?</h1>
            <p class="lead">Find out how occupied NTK is right now and how occupied it was in the last days.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Now</h2>
            <h5 class="card-subtitle mb-2 text-muted small">
                <i>Last updated {{ moment(occupation.timestamp).fromNow() }}.</i>
            </h5>
        </div>
        <!-- <h2>Now</h2> -->
        <div class="card-body">
            <!-- <h2 class="card-title">Now</h2>
            <h5 class="card-subtitle mb-2 text-muted small">
                <i>Last updated {{ moment(occupation.timestamp).fromNow() }}.</i>
            </h5>
            <br> -->
            <h4 style="display: inline-block;">Overall occupation: {{ occupation.overall_occ }} % (
                <b>{{ occupation.sum_of_people }}</b> / 1262
                <i class="fas fa-male"></i>) </h4>
            <!-- <p class="small ml-2" style="display: inline-block;">
                <i>Last updated: {{ moment(occupation.timestamp).fromNow() }}.</i>
            </p> -->

            <div class="progress" style="height: 20px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: {{ occupation.overall_occ }}%;"
                    aria-valuemin="0" aria-valuemax="100">{{ occupation.overall_occ }} %</div>
            </div>

            <br>
            <br>

            <div class="row">
                <div class="col-sm-12">
                    <table class="table" align='top'>
                        <thead>
                            <tr>
                                <th scope="col">Floor #</th>
                                <th scope="col">Occupation</th>
                                <th scope="col">No. of people</th>
                                <th scope="col">Occupation progress
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">6th
                                    <span class="text-muted inline-block ml-1" data-toggle="tooltip" title="Silent floor">
                                        <i class="fas fa-volume-off"></i>
                                    </span>
                                </th>
                                <td>{{ occupation.floor_6_perc }} % </td>
                                <td>
                                    <b>{{ occupation.floor_6 }}</b> / 323
                                    <i class="fas fa-male"></i>
                                </td>
                                <td>
                                    <div class="progress" style="height: 20px;">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: {{ occupation.floor_6_perc  }}%;"
                                            aria-valuenow='0' aria-valuemin="0" aria-valuemax="100">{{ occupation.floor_6_perc }} %</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">5th
                                    <span class="text-muted inline-block ml-1" data-toggle="tooltip" title="Non-silent floor">
                                        <i class="fas fa-volume-down"></i>
                                    </span>
                                </th>
                                <td>{{ occupation.floor_5_perc }} %</td>
                                <td>
                                    <b>{{ occupation.floor_5 }}</b> / 275
                                    <i class="fas fa-male"></i>
                                </td>
                                <td>
                                    <div class="progress" style="height: 20px;">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: {{ occupation.floor_5_perc }}%;"
                                            aria-valuenow='0' aria-valuemin="0" aria-valuemax="100">{{ occupation.floor_5_perc }} %</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">4th
                                    <span class="text-muted inline-block ml-1" data-toggle="tooltip" title="Non-silent floor">
                                        <i class="fas fa-volume-down"></i>
                                    </span>
                                </th>
                                <td>{{ occupation.floor_4_perc }} %</td>
                                <td>
                                    <b>{{ occupation.floor_4 }}</b> / 333
                                    <i class="fas fa-male"></i>
                                </td>
                                <td>
                                    <div class="progress" style="height: 20px;">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: {{ occupation.floor_4_perc }}%;"
                                            aria-valuenow='0' aria-valuemin="0" aria-valuemax="100">{{ occupation.floor_4_perc }} %</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3rd
                                    <span class="text-muted inline-block ml-1" data-toggle="tooltip" title="Silent floor">
                                        <i class="fas fa-volume-off"></i>
                                    </span>
                                </th>
                                <td>{{ occupation.floor_3_perc }} %</td>
                                <td>
                                    <b>{{ occupation.floor_3 }}</b> / 331
                                    <i class="fas fa-male"></i>
                                </td>
                                <td>
                                    <div class="progress" style="height: 20px;">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: {{ occupation.floor_3_perc }}%;"
                                            aria-valuenow='0' aria-valuemin="0" aria-valuemax="100">{{ occupation.floor_3_perc }} %</div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2>History</h2>
    <div class="progress" style="height: 20px;">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100">25 %</div>
    </div>
    {% for datapoint in history %}
    <p>{{ datapoint.floor_3 }}</p>
    {% endfor %}
</div>
{% endblock %}